.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto;
  max-width: 77.11%;
}

.places__place {
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 1fr 1.0522fr;
  grid-template-areas:
    "title artist"
    "image text"
    "button text"
    "span text";
}

.places__place-title {
  grid-area: title;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 1.056;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.places__place-artist {
  grid-area: artist;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-end;
}

.places__place-artist-title {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0 0 8px;
}

.places__place-artist-name {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}

.places__place-image {
  grid-area: image;
  max-width: 100%;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.places__place-image:hover {
  opacity: 0.5;
}

.places__place-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-area: text;
}

.places__place-text {
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
}

.places__button {
  grid-area: button;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  padding: 13px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.places__button:hover {
  background-image: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25),
    rgba(0, 58, 123, 0.25)
  );
}

@media screen and (max-width: 1024px) {
  .places {
    gap: 72px;
    max-width: 93.75%;
  }

  .places__place {
    gap: 48px 28px;
    grid-template-columns: 1fr 1.0353fr;
  }

  .places__place-title {
    font-size: 42px;
    line-height: 1.095;
    margin: 0;
  }

  .places__place-text {
    font-size: 16px;
    line-height: 1.63;
    margin: 0;
  }
}

@media screen and (max-width: 544px) {
  .places {
    gap: 50px;
    max-width: 100%;
  }

  .places__place {
    display: grid;
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "button";
  }
  .places__place-title {
    font-size: 32px;
    line-height: 1.094;
    margin: 0 16px;
  }

  .places__place-artist {
    margin: 0 16px;
  }

  .places__place-text {
    margin: 0 16px;
  }

  .places__place-image {
    grid-area: image;
    max-width: 100%;
    box-shadow: none;
  }

  .places__button {
    font-size: 14px;
    margin: 0 16px;
  }
}
